.venv
*.pth
*.pt

*.cache
__pycache__

data/classes.json
data/dataset.yaml

data/image-seq/**
data/input/**
data/backgrounds/**
data/masks/**
data/object-cutouts/**
data/dataset/**/images/**
data/dataset/**/labels/**

!data/image-seq/.gitkeep
!data/input/.gitkeep
!data/backgrounds/.gitkeep
!data/masks/.gitkeep
!data/object-cutouts/.gitkeep
!data/dataset/**/images/.gitkeep
!data/dataset/**/labels/.gitkeep
